:host {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
    width: var(--v-width, initial);
    height: var(--v-height, 34px);
    padding: var(--v-pading, 0 1em);
    border: 1px solid var(--v-borderColor, rgba(0, 0, 0, .2));
    font-size: var(--v-font-size, 14px);
    box-shadow: 0 2px 6px var(--v-default-box-shadow-color, #e1e5e8);
    color: var(--v-text-color, #333);
    background-color: var(--v-background-color, #fff);
    border-radius: var(--v-border-radius, 0.25em);
    transition: color .3s var(--v-bezier, cubic-bezier(0.4, 0, 0.2, 1)),
        background-color .3s var(--v-bezier, cubic-bezier(0.4, 0, 0.2, 1)),
        opacity .3s var(--v-bezier, cubic-bezier(0.4, 0, 0.2, 1)),
        border-color .3s var(--v-bezier, cubic-bezier(0.4, 0, 0.2, 1));
}

:host([disabled]),
:host([loading]) {
    pointer-events: none;
    opacity: .6;
}

:host([disabled]:not([type])) {
    background: rgba(0, 0, 0, .1);
}

:host(:not([disabled]):hover),
:host(:not([disabled]):focus) {
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 12px;
}

:host(:not([disabled]):active) {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0em);
}

:host(:not([disabled]):hover) {
    border-color: transparent;
    transform: translateY(-0.25px);
}

:host([type="danger"]) {
    box-shadow: 0 2px 6px var(--v-danger-box-shadow-color, #fd9b96);
    color: #fff;
    border-color: var(--v-danger-background-color, #E91E63);
    background-color: var(--v-danger-background-color, #E91E63);
}

:host([type="primary"]) {
    color: #fff;
    box-shadow: 0 2px 6px var(--v-primary-box-shadow-color, #acb5f6);
    border-color: var(--v-primary-background-color, #6777ef);
    background-color: var(--v-primary-background-color, #6777ef);
}

:host([type="info"]) {
    color: #fff;
    box-shadow: 0 2px 6px var(--v-info-box-shadow-color, #82d3f8);
    border-color: var(--v-info-background-color, #2196F3);
    background-color: var(--v-info-background-color, #2196F3);
}

:host([type="warning"]) {
    color: #fff;
    box-shadow: 0 2px 6px var(--v-warning-box-shadow-color, #ffc473);
    border-color: var(--v-warning-background-color, #FFC107);
    background-color: var(--v-warning-background-color, #FFC107);
}

:host([type="success"]) {
    color: #fff;
    box-shadow: 0 2px 6px var(--v-success-box-shadow-color, #a8f5b4);
    border-color: var(--v-success-background-color, #63ed7a);
    background-color: var(--v-success-background-color, #63ed7a);
}

:host([shape="circle"]) {
    border-radius: 50%;
}

:host([shape="round"]) {
    border-radius: 34px;
}

.v-button {
    background: none;
    outline: 0;
    border: 0;
    position:
        absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    user-select: none;
    cursor: unset;
}

:host([disabled]) .v-button {
    cursor: not-allowed;
    pointer-events: all;
}